body {
    max-width: 80%;    
    margin: 30px auto;    
    position: relative;    
    display: flex;    
    flex-direction: column;    
    align-items: center;    
    height: 80vh;
}

.canvas{
    width: 350px;    
    height: 500px;    
    border-radius: 20px;    
    background-color: rgb(241, 241, 255);    
    position: relative;    
    display: flex;    
    justify-content: center;    
    align-items: center;    
    margin-bottom: 20px;
}


.figure{
    width: 150px;
    height: 150px;
    transition: all .8s;
}

.red{
    height : 0;
    width : 0;
    border-top : 80px solid red;
    border-right : 80px solid transparent;
    border-left : 80px solid transparent;

    position: absolute;
    left: 0%;
    top: 0%;
    transform: rotate(0deg);
    

}
.green{
    height : 0;
    width : 0;
    border-top : 80px solid transparent;
    border-right : 80px solid green;
    border-bottom : 80px solid transparent;

    position: absolute;
    left: 0%;
    top: 0%;
    transform: rotate(0deg);
}
.blue{
    height : 0;
    width : 0;
    border-top : 40px solid transparent;
    border-bottom : 40px solid transparent;
    border-left : 40px solid blue;

    position: absolute;
    left: 0%;
    top: 0%;
    transform: rotate(0deg);
}
.yellow{
    height : 55px;
    width : 55px;
    position: absolute;
    background-color: yellow;

    position: absolute;
    left: 0%;
    top: 0%;
    transform: rotate(0deg);
}
.purple{
    height : 0;
    width : 0;
    position: absolute;
    border-right : 85px solid transparent;
    border-bottom : 85px solid purple;

    position: absolute;
    left: 0%;
    top: 0%;
    
}
.brown{
    height : 0;
    width : 0;
    position: absolute;
    border-right : 40px solid transparent;
    border-bottom : 40px solid brown;
    border-left : 40px solid transparent;

    position: absolute;
    left: 0%;
    top: 0%;
    
}
.orange{
    background-color: orange;
    width: 150px;
    height: 150px;

    position: absolute;
    top: 14px;
    left: 1px;
    transform: skew(44deg, 0deg);
}