.red.vautour{
    top: 120px;
    left: 80px;
    transform: rotate(180deg);
}
.green.vautour{    
    top: 149px;
    transform: rotate(135deg);
    left: 172px;
}
.blue.vautour{
    top: 140px;
    left: 20px;
    transform: rotate(270deg);
}
.yellow.vautour{
    transform: rotate(45deg);
    top: 133px;
    left: 52px;
}
.purple.vautour{
    top: 200px;
    left: 240px;
}
.brown.vautour{
    top: 313px;
    left: 200px;
}
.orange.vautour{
    top: 180px;
    left: 208px;
}
